body {
  font-size: 110%;
  font-family: Helvetica, Arial;
}

button, input {
  font-size: 90%;
  font-family: Helvetica, Arial;
}

table {
  width: 100%;
}

td, th {
  border: 1.5px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 820px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 20px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 95%;
  margin: 0 auto;
}
