body {
  font-size: 100%;
  font-family: Helvetica, Arial;
}

button, input {
  font-size: 99%;
  font-family: Helvetica, Arial;
}

table {
  width: 99%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 1 auto;
  max-width: 800px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: center;
  max-height: 200px;
  overflow: auto;
  width: 100%;
  margin: 2 auto;
}
